target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
runelite-client/src/main/resources/META-INF/MANIFEST.MF
git
classes/artifacts/client_jar/run.bat
classes/artifacts/client_jar/client.jar
!gradle-wrapper.jar
.live/
**/build/*
*/out/
.gradle/
runelite-client/src/main/resources/runelite/*
runelite-client/dependencies.txt
.staging/
hs_err*
replay_pid*
/PluginCreator.exe
/OliRelighter/
/corpHelper/corpHelper.gradle.kts
/corpHelper/src/main/java/net.runelite.client.plugins.corpHelper/CorpHelperConfig.java
/corpHelper/src/main/java/net.runelite.client.plugins.corpHelper/CorpHelperPlugin.java
/corpHelper/src/main/java/net.runelite.client.plugins.corpHelper/CorpHelperStates.java
/itemCombiner/itemCombiner.gradle.kts
/itemCombiner/src/main/java/net/runeltie/client/plugins/itemCombiner/ItemCombinerConfig.java
/itemCombiner/src/main/java/net/runeltie/client/plugins/itemCombiner/ItemCombinerPlugin.java
/lootHelper/lootHelper.gradle.kts
/lootHelper/src/main/java/net/runeltie/client/plugins/lootHelper/LootHelperConfig.java
/lootHelper/src/main/java/net/runeltie/client/plugins/lootHelper/LootHelperPlugin.java
